#table-wrapper {
  display: flex;
}

img.owner {
  width: 50%;
  height: 50%;
}

#desc th {
  width: 15em;
  border-collapse: collapse;

  background-color: whitesmoke;
  padding: 1em;
  text-align: left;
  border: 1px solid black;
  padding: 1em;
}

#desc td {
  border: 1px solid black;
  padding: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

div.search-info {
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
